.pbn { 
	background-color: #cfc; font-weight: bold;
	margin-top: 0.2em; margin-bottom: 0.2em;
	border-radius: 0.6em;
}

.lin { 
	background-color: #fc4; font-weight: bold;
	margin-top: 0.2em; margin-bottom: 0.2em;
	border-radius: 0.6em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.sess {
	background-color: #cff; font-weight: bold;
	margin-top: 0.2em; margin-bottom: 0.2em;
	border-radius: 0.6em;
}
